<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuandian.express">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.activity.NewExpressActivity"></activity>
        <activity android:name=".business.activity.OverdueInfoActivity" />
        <activity android:name=".business.activity.OverdueDetailActivity" />
        <activity android:name=".business.activity.ExpressHistoryActivity" />
        <activity android:name=".business.activity.OverdueExpressActivity" />
        <activity android:name=".business.activity.HelpOtherAcitvity" />
        <activity android:name=".business.activity.ExpressDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/HomePageTheme"
            android:windowSoftInputMode="stateVisible|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".business.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.PersonalDataActivity" />
        <activity android:name=".business.login.UserRegisterActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.zhuandian.express.BmobContentProvider" />
    </application>

</manifest>